<nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
                  (click)="navCollapsed = !navCollapsed" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{title}}</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse" [collapse]="navCollapsed">
          <ul class="nav navbar-nav">
            <li [class.active]="!gameState.isRunning()"><a routerLink="/">Browse</a></li>
            <li routerLinkActive="active"><a routerLink="/game/class" >Practice Class</a></li>
            <li routerLinkActive="active"><a routerLink="/game/phonetic" >Practice Phonetic</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>

<div class="cmain">
  <div class="cdisplay">
    <router-outlet></router-outlet>
  </div>
</div>
