div.consonant {
  font-size: 112pt;
}
div.metadata {
  height: 120px;
  font-family: sans-serif;
}

div.roman {
  font-size: 26pt;
}
div.phonetic {
  font-size: 12pt;
}
div.charclass {
  font-size: 26pt;
}

div.wrong {
  color: red;
}
div.right {
  color: green;
}

